<style>
    header {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 2px 8px;
      background: #eee;
    }

    header * {
      margin: 0;
      padding: 0;
      user-select: none;
    }

    header h3 {
      font-size: 1em;
    }
</style>

<header>
    <button id="btn-back" data-testid="btn-back-browser">
        <img src="/assets/img/arrow-left.svg" style="width:16px; height:16px;" />
    </button>

    <button id="btn-home" data-testid="btn-go-to-home-page">
        <img src="/assets/img/home.svg" style="width:16px; height:16px;" />
    </button>

    <h3 id="page-title" data-testid="title-in-header" style="margin-left: 10px;">TeamMan</h3>

    <select id="lang-switcher" data-testid="select-lang-switcher" style="margin-left: auto;">
        <option value="uk" selected>Укр</option>
        <option value="us">Eng</option>
    </select>
</header>